@model IEnumerable<CRUD_Oscar.Models.Libro>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container pt-3">
    <div class="row pt-4">
        <div class="col-6">
			<h2 class="text-primary">Lista de Libros</h2>
        </div>
        <div class="col-6">
			<a asp-controller="Libro" asp-action="Crear" class="btn btn-primary">Nuevo Libro</a>
        </div>
    </div>

	<br/>

    @if (Model.Count() >0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
			<thead>
				<tr>
                    <th>Título</th>
                    <th>Autor</th>
                    <th>Tema</th>
                    <th>Editorial</th>
                    <th>Año</th>
                    <th>Páginas</th>
                    <th>Categoría</th>
                    <th>Material</th>
                    <th>Copias</th>
                    <th>Acciones</th>
					<th></th>
				</tr>
			</thead>

			<tbody>
				@foreach (var item in Model)
				{
					<tr>
                        <td>@item.Titulo</td>
                        <td>@item.Autor</td>
                        <td>@item.Tema</td>
                        <td>@item.Editorial</td>
                        <td>@item.AnioPublicacion</td>
                        <td>@item.Paginas</td>
                        <td>@item.Categoria</td>
                        <td>@item.Material</td>
                        <td>@item.Copias</td>
                        <td>
                            <a asp-controller="Libro" asp-action="Editar" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Editar</a>
                            <a asp-controller="Libro" asp-action="Detalles" asp-route-id="@item.Id" class="btn btn-sm btn-info">Detalles</a>
                            <a asp-controller="Libro" asp-action="Eliminar" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Eliminar</a>
                        </td>
					</tr>
				}
            </tbody>
        </table>

    }else
	{
		<p>No hay libros registrados.</p>
	}

</div>

